<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
</head>
<body>

<div class="navbar">
  <a href="/reservepage">Create Reservation</a>
  <a href="/myreservationspage">My Reservations</a>
  <a href="/billing">My Billing Dashboard</a>
</div>

WE COULD SHOW INFORMATION ABOUT THE PROJECT HERE.


</body>
</html>
