<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="POST" action="/signup" id="signup">
  Email: <input type="text" name="email">
	Username: <input type="text" name="username">
  Password: <input type="password" name="password">
<!--  Type: <select name="type" form="signup">
          <option value="1>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
-->
	<input type="submit" name="submit" value="Sign Up">
</form>
<br/>
<br/>


<form method="POST" action="/login" id="login">
	Username: <input type="text" name="username">
  Password: <input type="password" name="password">
  Type: <select name="type" form="login">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
	<input type="submit" name="submit" value="login">
</form>
