<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='/stylesheets/dashboard.css' />

<style>
/*table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
*/th, td {
    padding: 5px;
    text-align: left;    
}
</style>

<body>
<div class="navbar">
  <a href="/reservepage">Create Reservation</a>
  <a href="/myreservationspage">My Reservations</a>
  <a href="/billing">My Billing Dashboard</a>
</div>

<table style="width:100%">
  <tr>
    <th>Image</th>
    <th>Creation Time</th> 
    <th></th>
  </tr>
{{#each Allcontainer as |container|}}
  <tr>
    <td>{{container.name}}</td>
    <td>{{container.time}}</td> 
   	<td>
  			<form method="POST" action="/deleteReservation" id="signup">
  			  <input type="hidden" name="imagetag" value="{{container.name}}">
  			  <input type="hidden" name="conid" value="{{container.conid}}">
  				<input type="submit" name="submit" value="Delete">
  			</form>
  	</td>
  </tr>

{{/each}}
</table>

</body>
</html>
